/*** Navbar Bottom Styles ***/

@media (max-width: 767px) {

	html, body, #page {
		height: 100%;
	}
	.main-menu-mobile {
		position: fixed;
		right: 0;
	    left: 0;
	    bottom: 0;
	    z-index: 1030;
	    height: 0;
	    transition: height .3s linear;
	    -o-transition: height .3s linear;
    	-moz-transition: height .3s linear;
    	-webkit-transition: height .3s linear;
	}
	body.main-menu-open .main-menu-mobile {
		height: 100%;
		transition: height .3s linear;
		-o-transition: height .3s linear;
    	-moz-transition: height .3s linear;
    	-webkit-transition: height .3s linear;
	}
	.main-menu-mobile nav.navbar {
		background-color: #007bff;
		padding: 0;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 0;
		transition: height .3s linear;
		-o-transition: height .3s linear;
    	-moz-transition: height .3s linear;
    	-webkit-transition: height .3s linear;
	}
	body.main-menu-open .main-menu-mobile nav.navbar {
		height: 100%;
		transition: height .3s linear;
		-o-transition: height .3s linear;
    	-moz-transition: height .3s linear;
    	-webkit-transition: height .3s linear;
	}
	.main-menu-mobile #fixed_bottom_holder {
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1030;
		display: flex;
		justify-content: space-between;
		padding: 0;
		background-color: transparent;
		transition: background-color 0s.3s linear;
		-o-transition: background-color 0s.3s linear;
    	-moz-transition: background-color 0s.3s linear;
    	-webkit-transition: background-color 0s.3s linear;
	}
	.main-menu-open .main-menu-mobile #fixed_bottom_holder {
	    background-color: #007bff;
	    transition: background-color 0s linear;
	    -o-transition: background-color 0s linear;
    	-moz-transition: background-color 0s linear;
    	-webkit-transition: background-color 0s linear;
	}
	.main-menu-mobile .navbar-collapse {
	    padding: 0 64px 100px 0;
	    position: fixed;
	    bottom: 0;
	    right: 0;
	}
	.main-menu-mobile .navbar-nav {
		text-align: right;
	}

/** Brand & Toggler Styles **/

	/* Nav Brand removed for FAB style **
	.main-menu-mobile .navbar-brand {
		display: none;
	}
	.main-menu-mobile .navbar-brand a {
		color: #23343b;
		transition: color 0s.3s linear;
		-o-transition: color 0s.3s linear;
    	-moz-transition: color 0s.3s linear;
    	-webkit-transition: color 0s.3s linear;
	}
	body.main-menu-open .main-menu-mobile .navbar-brand a,
	body.main-menu-open .main-menu-mobile .navbar-brand a:hover, */

	body.main-menu-open .main-menu-mobile .toggler-icon {
		color: #fff;
	    transition: background-color 0s linear;
	    -o-transition: background-color 0s linear;
    	-moz-transition: background-color 0s linear;
    	-webkit-transition: background-color 0s linear;
	}
	.main-menu-mobile .navbar-toggler {
	    position: fixed;
	    width: 80px;
	    height: 48px;
	    text-align: center;
		right: 24px;
    	bottom: 32px;
	    background-color: #007bff;
	    border: none;
	    padding: 0;
	    outline: none !important;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 2rem;
	    -webkit-font-smoothing: antialiased;
	    line-height: 2.25rem;
	    transition: all .3s linear;
	    -o-transition: all .3s linear;
    	-moz-transition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	z-index: 10;
	}
	.main-menu-mobile .collapsed {
		position: fixed;
		right: 24px;
    	bottom: 32px;
	    background-color: #007bff;
	    border-radius: 2rem;
	    -webkit-font-smoothing: antialiased;
	    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	    transition: all .3s linear;
	    -o-transition: all .3s linear;
    	-moz-transition: all .3s linear;
    	-webkit-transition: all .3s linear;
	}
	.main-menu-mobile .collapsed:hover {
		background-color: #007bff;
		color: #fff;
	    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
	    transition: all .3s linear;
	    -o-transition: all .3s linear;
    	-moz-transition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	z-index: 10;
	}
	.main-menu-mobile .toggler-icon {
		color: #fff;
		position: relative;
		width:40px;
		height:40px;
		transition: color .3s linear;
		-o-transition: color .3s linear;
    	-moz-transition: color .3s linear;
    	-webkit-transition: color .3s linear;
	}
	.main-menu-mobile .menu-closed-icon {
		opacity: 0;
		position: absolute;
		right: 11px;
		top: 9px;
    	transform: rotate(360deg);
    	-o-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
    	-ms-transform: rotate(360deg);
    	-webkit-transform: rotate(360deg);
		transition: opacity .3s linear, transform .3s linear;
    	-o-transition: opacity .3s linear, transform .3s linear;
    	-moz-transition: opacity .3s linear, transform .3s linear;
    	-webkit-transition: opacity .3s linear, transform .3s linear;
	}
	.main-menu-mobile .collapsed .menu-closed-icon {
		opacity: 1;
    	transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-ms-transform: rotate(0deg);
    	-webkit-transform: rotate(0deg);
		transition: opacity .3s linear, transform .3s linear;
    	-o-transition: opacity .3s linear, transform .3s linear;
    	-moz-transition: opacity .3s linear, transform .3s linear;
    	-webkit-transition: opacity .3s linear, transform .3s linear;
	}
	.main-menu-mobile .menu-open-icon {
		opacity: 1;
		position: absolute;
		right: 14px;
		top: 7px;
    	transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-ms-transform: rotate(0deg);
    	-webkit-transform: rotate(0deg);
		transition: opacity .3s linear, transform .3s linear;
    	-o-transition: opacity .3s linear, transform .3s linear;
    	-moz-transition: opacity .3s linear, transform .3s linear;
    	-webkit-transition: opacity .3s linear, transform .3s linear;
	}
	.main-menu-mobile .collapsed .menu-open-icon {
		opacity: 0;
		transform: rotate(360deg);
    	-o-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
    	-ms-transform: rotate(360deg);
    	-webkit-transform: rotate(360deg);
		transition: opacity .3s linear, transform .3s linear;
    	-o-transition: opacity .3s linear, transform .3s linear;
    	-moz-transition: opacity .3s linear, transform .3s linear;
    	-webkit-transition: opacity .3s linear, transform .3s linear;
	}

/** Top Level Link Styles **/

	.main-menu-mobile .menu-item-has-children.show {
	    border-top: 1px solid #fff;
	}
	.main-menu-mobile .navbar-nav .nav-link,
	.main-menu-mobile .navbar-nav .nav-link:hover {
		font-size: 24px;
		font-weight: 300;
	    color: #fff;
	}

/** Second Level Link Styles **/

	.main-menu-mobile .navbar-nav .dropdown-menu {
		background: #007bff;
	    border: 0;
	    border-radius: 0;
	    box-shadow: none !important;
	    padding-right: 1.5rem;
	    text-align: right;
	    position: absolute;
	    border-top: 1px solid #fff;
	    top: -1px;
	    margin-right: 1px;
	    min-width: auto;
	}
	.main-menu-mobile .navbar-nav .dropdown-item {
		background:	transparent !important;
		color: #fff;
		padding: 6px 0 6px 24px;
		font-size: 18px;
	}
	
}